@import "../../styles/colors.scss";

.currentWeather {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  &:hover,
  &:focus {
    background-color: $background-hover;
  }
  &.active {
    background-color: $backgrond-active;
  }
  &__hour {
    color: $text-headline;
    line-height: 56px;
  }
  &__temperature {
    font-weight: bold;
    font-size: 82px;
    line-height: 96px;
  }
}
