@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/grid.scss";
.weatherApp {
  color: $text-primary;
  font-size: 28px;
  @media (min-width: $bp-laptop) {
    font-size: 48px;
  }
}
