@import "../../styles/grid.scss";
@import "../../styles/colors.scss";
.overview {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  max-width: 570px;
  @media (min-width: $bp-laptop) {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 96px 168px;
  }

  &__summary {
    width: 100%;
    margin-bottom: 25px;
    @media (min-width: $bp-laptop) {
      width: auto;
    }
    &__headline {
      display: block;
      color: $text-headline;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media (min-width: $bp-laptop) {
        margin-bottom: 32px;
      }
    }
  }
  &__temperature,
  &__weekdate {
    font-size: 60px;
    font-weight: bold;
    @media (min-width: $bp-laptop) {
      font-size: 100px;
      line-height: 128px;
    }
  }
  &__temperature {
    @media (min-width: $bp-laptop) {
      font-size: 246px;
      line-height: 256px;
    }
  }
  &__date {
    display: block;
  }
  &__weekdate {
    text-align: left;
  }

  .weatherSymbol {
    align-self: center;
  }
}
